<%- include('includes/head.ejs') %>

<div class="top-container">
  <h1>Seu portal de noticias de tecnologia favorito</h1>

  <img src="https://th.bing.com/th/id/R.eb3cf8a6f66ee373a225bacf61256c0b?rik=dxr86nnkjil2iw&riu=http%3a%2f%2fwww.exponewsbrasil.com.br%2fwp-content%2fuploads%2f2017%2f05%2fPessoas-no-mundo.jpg&ehk=1vCE%2bSiv8oupQjth5WTAmth7UpwEla44x7TclHoNKeI%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="">
</div>

<div class="container">
  <div class="blog-post">Um post de blog</div>
</div>

<%- include('includes/footer.ejs') %>